# Frontend
frontend/node_modules
frontend/dist
frontend/.env
frontend/.nuxt
frontend/.nuxtignore
frontend/.cache
frontend/.vscode
frontend/.DS_Store
frontend/coverage
frontend/.gitignore
frontend/.eslintcache

# Backend
backend/venv
backend/.env
backend/__pycache__/
backend/core/__pycache__/
backend/routes/__pycache__/
backend/schemas/__pycache__/
backend/utils/__pycache__/
FREE_DEPLOYMENT.md
DEPLOYMENT.md
